@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
.imgae-landing{
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;

}
h1, h2, h3, h4, h5, h6, span {
    color: black;
    text-align: center;
    line-height: 1.25;
}

p {
    font-size: 16px;
    line-height: 1.25;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

a:hover {
    opacity: 0.7;
}

li {
    list-style-type: none;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: black;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0px;
}

section:nth-child(even) {
    background-color: rgb(232, 230, 230);
}

.section__title {
    font-size: 30px;
    padding: 0 30px;
    margin-bottom: 20px;
}

.purple-word {
    color: #6030b1;
}

.row {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.container {
    padding: 50px 0px;
}

/* NAV BAR */

nav {
    height: 100px;
    display: flex;
    padding: 0 12px;
}

.nav__container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    color: black;
    margin: 0 12px;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition:  all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.nav__logo {
    font-size: 24px;
    color: #6030b1;
    font-weight: bold;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    padding: 8px;
    color: white;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__list {
    padding: 32px 0px;
}

.menu__link {
    color: white;
    font-size: 40px;
}

/* ABOUT ME */

main {
    height: calc(100vh - 99px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me__info--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.about-me__info--text {
    width: 65%;
    margin-left: 12px;
}

.about-me__pic--mask {
    width: 35%;
    margin-left: 88px;
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0 , 0.4);
    animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.about-me__pic {
    width: 100%;
    height: 100%;
    transform: scale(1.05);
}

.about-me__info--title {
    margin-bottom: 16px;
    text-align: left;
    font-size: 60px;
    animation: fade-up 650ms 400ms backwards;
}

.about-me__info--para {
    font-size: 16px;
    margin-bottom: 16px;
    animation: fade-up 650ms 500ms backwards;
}

.about-me__links {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    animation: fade-up 650ms 600ms backwards;
}

.about-me__link {
    padding: 0px 24px;
    color: #242424;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-me__graphic--mask {
    height: calc(100vh - 550px);
    margin-top: 162px;
    display: flex;
    justify-content: center;
}

.about-me__graphic {
    height: 100%;
    width: 100%;
}

/* TECH STACK */

.language__image {
    width: 100%;
    max-width: 100px;
    transition: all 300ms;
}

.language:hover .language__image {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9)
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__image--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
    opacity: 0;
}

.language:hover .language__name {
    transform:scale(1);
    opacity: 1;
}

/* Projects */

.project {
    margin-bottom: 135px;
}

.project-row {
    padding: 0 20px;
}

.project:last-child {
    margin-bottom: 40px;
}

.project__img {
    width: 100%;
    transition: all 500ms ease;
}

.project__wrapper {
    display: flex; /* used to get image to be full size of wrapper */
    align-items: flex-start;
    box-shadow: 0px 20px  80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.project:hover .project__wrapper:before {
    opacity: 0.7;
}

.project:hover .project__img {
    transform: scale(1.03);
    filter: blur(5px);
}
.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project:active .project__description {
    opacity: 1;
    transform: translateY(-50%);
}
.project:active .project__img {
    transform: scale(1.03);
    filter: blur(5px);
}
.project:active .project__wrapper:before {
    opacity: 0.7;
}

.project__list {
    padding-top: 35px;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project__description--title {
    font-size: 40px;
}

.project__description--para {
    margin: 16px 0px;
}

.project__description--link {
    font-size: 20px;
    margin-right: 16px;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
    text-align: left;
    color: white;
}

.project__description--sub-title {
    margin: 8px 0;
}

/* FOOTER */

footer {
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__row {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__social--link,
.footer__social--name,
.footer__logo--popper {
    color: white;
}

.footer__logo--popper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 30%;
    bottom: 0;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer__social--container:hover .footer__logo--popper {
    transform: translateX(100px);
    opacity: 1;
}

.footer__social--container {
    position: relative;
    margin-bottom: 30px;
}

.footer__social--list {
    margin: 10px 0px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 804px) {
    .about-me__graphic--mask {
        position: absolute;
        margin: 0;
        bottom: 0;
    }

    #about-me {
        position: relative;
    }

}

@media (max-width: 768px) {
    .about-me__info--container {
        margin: 24px 0 0 0;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }

    .about-me__info--text {
        margin: 0px;
        width: 80%;
    }

    .about-me__info--title, 
    .about-me__info--para,
    .about-me__links {
        text-align: center;
    }

    .about-me__info--title {
        font-size: 60px;
        margin-bottom: 24px;
    }

    .about-me__info--para {
        margin-bottom: 24px;
        font-size: 20px;
    }

    .about-me__links {
        font-size: 24px;
    }

    .about-me__pic--mask {
        width: 200px;
        margin: 80px 0 0 0;
    }

    .about-me__graphic--mask {
        display: none;
    }

}

@media (max-width: 700px) {
    .project__description {
        left: 60px;
    }
}

@media (max-width: 600px) {
    .language {
        width: 50%;
    }

    .btn__menu {
        display: block;
    }

    .nav__link--list {
        display: none;
    }

    .project__description {
        left: 40px;
    }

    .project__description--title {
        font-size: 30px;
    }

    .project__description--sub-title {
        font-size: 20px;
    }

    .project__description--para {
        font-size: 16px;
    }
}

@media (max-width: 535px) {
    .project__description {
        left: 20px;
    }

    .project__description--title {
        font-size: 30px;
    }

    .project__description--sub-title {
        font-size: 16px;
    }

    .project__description--para {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .project__description--title {
        font-size: 25px;
    }
}

@media (max-width: 425px) {
    .languages-container {
        padding: 30px 0;
    }

    .project {
        margin-bottom: 80px;
    }

    .project__description {
        left: 10px;
    }

    .project__description--title {
        font-size: 25px;
    }

    .project__description--sub-title {
        font-size: 16px;
    }

    .project__description--para {
        font-size: 14px;
    }

    .language {
        width: 100%;
    }
}

@media (max-width: 430px) {
    @media (max-width: 535px) {
        .project__description {
            left: 10px;
        }
    
        .project__description--title {
            font-size: 24px;
        }
    
        .project__description--sub-title {
            font-size: 16px;
        }
    
        .project__description--para {
            font-size: 12px;
        }
    }
}

@media (max-width: 416px) {
    .nav__logo {
        font-size: 20px;
        margin-right: 0px;
        width: 30%;
    }

    .nav__link--anchor {
        font-size: 16px;
        margin: 0 6px;
    }

    .project__description--title {
        font-size: 16px;
    }

    .project__description--sub-title {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .project__description--title {
        font-size: 14px;
    }

    .project__description--sub-title {
        font-size: 12px;
    }
}
